In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

df1 = pd.read_excel('Data_Train.xlsx')
df1 = pd.read_excel('Data_Train.xlsx',na_values=[np.nan])
# Dropping New_Price due to irreglar Data
df1 = df1.drop(['New_Price'],axis=1)
df1 = df1[df1['Engine'] != float]
df1 = df1[df1['Power'] != float]
Power = [];
Engine = [];
for ind in df1.index:
    s = df1['Engine'][ind]
    p = df1['Engine'][ind]
    if(type(s)!=float and type(p)!=float):
        s = s[:s.find('C')-1] 
        p = p[:p.find('C')-1]
    if(s == 'null'or p=='null'):
        df2 = df2.drop(ind)
        continue
    s = float(s)
    p = float(p)
    Engine.append(s)
    Power.append(p)
df1.drop(['Engine'],axis=1)
df1['Engine(CC)']=Engine
df1.drop(['Power'],axis=1)
df1['Power(BHP)'] = Power
df1

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Engine(CC),Power(BHP)
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,998.0,998.0
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,1582.0,1582.0
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,1199.0,1199.0
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,1248.0,1248.0
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,1968.0,1968.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75,1248.0,1248.0
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00,1120.0,1120.0
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90,2498.0,2498.0
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65,998.0,998.0
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50,936.0,936.0

In [24]:
sentence = 'b a hello b Hi'
h = sentence.rsplit(' b ', 1)
h[0]

'b a hello'

In [16]:
df2 = df1[df1['Fuel_Type']=='Petrol']
df3 = df2[df2['Transmission'] == 'Manual']
df2 = df2[df2['Transmission'] == 'Automatic']
df3

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Engine(CC),Power(BHP)
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,1199.0,1199.0
10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,9.95,1462.0,1462.0
23,Hyundai i20 1.2 Magna,Kolkata,2010,45807,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,1.87,1197.0,1197.0
25,Honda City Corporate Edition,Mumbai,2012,51920,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,4.25,1497.0,1497.0
27,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Petrol,Manual,Second,20.92 kmpl,998 CC,67.1 bhp,5.0,2.75,998.0,998.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,3.25,1598.0,1598.0
6003,Maruti Celerio VXI,Bangalore,2015,67600,Petrol,Manual,First,23.1 kmpl,998 CC,67.04 bhp,5.0,4.00,998.0,998.0
6004,Hyundai Getz GLE,Coimbatore,2007,66800,Petrol,Manual,First,15.3 kmpl,1341 CC,83 bhp,5.0,2.20,1341.0,1341.0
6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,3.20,1198.0,1198.0
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65,998.0,998.0

In [3]:
brands = [];
for ind in df1.index:
    s = df1['Name'][ind]
    s = s[:s.find(' ')] 
    brands.append(s)
# brands = brands.set()
brands = list(set(brands))
brands

['BMW',
 'Mitsubishi',
 'Jaguar',
 'Audi',
 'Datsun',
 'Maruti',
 'Nissan',
 'Toyota',
 'Lamborghini',
 'Renault',
 'Hyundai',
 'Bentley',
 'Land',
 'ISUZU',
 'Tata',
 'Mahindra',
 'Mercedes-Benz',
 'Fiat',
 'Honda',
 'Ambassador',
 'Mini',
 'Smart',
 'Chevrolet',
 'Porsche',
 'Isuzu',
 'Jeep',
 'Ford',
 'Force',
 'Volvo',
 'Skoda',
 'Volkswagen']

In [ ]:
# Python program to demonstrate 
# KNN classification algorithm 
# on IRIS dataser 
  
from sklearn.datasets import load_iris 
from sklearn.neighbors import KNeighborsClassifier 
import numpy as np 
from sklearn.model_selection import train_test_split 
  
#iris_dataset=load_iris() 
  
#X_train, X_test, y_train, y_test = train_test_split(iris_dataset["data"], iris_dataset["target"], random_state=0) 
  
df2 = df1[['Name','Price']]
y_train = df2['Name'].values.reshape(-1,1)
X_train = df2['Price'].values.reshape(-1,1)    
kn = KNeighborsClassifier(n_neighbors=1) 
kn.fit(X_train, y_train) 
  
x_new = np.array(X_train) 
prediction = kn.predict(x_new) 
  
print("Predicted target value: {}\n".format(prediction)) 
print("Predicted feature name: {}\n".format(prediction)) 
# print("Test score: {:.2f}".format(kn.score(X_test, y_test)))